{
	"presets": [
		[
			"@babel/preset-env",
			{
        "useBuiltIns": "usage",
        "modules": false,
        "shippedProposals": true
			}
		]
  ],
  "plugins": ["@babel/plugin-proposal-export-default-from"]
}
